html
{
    margin-top: 27px;
}

/* ------ Admin ------ */
#adminPanel
{
    position: fixed;
    right: 5px;
    top: 0px;
    z-index: 101;
}

#adminErrors, #adminSuccesses
{
    font-size: 0.9em;
}

#userContentPanelBg
{
    background-color: #EEEEEE;
    border-bottom: 1px solid #808080;
    height: 26px;
    left: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
}

#tabs li a:hover, #footer li a:hover, #header li a:hover
{
    cursor: move;
}

#tabs li.ignore a:hover, #footer li.ignore a:hover, #header li.ignore a:hover
{
    cursor: pointer;
}

.placeholder
{
    background-color: #60FF60 !important;
    border: 2px dashed #00A000;
}

.empty
{
    visibility: hidden !important;
}

.nicEdit-pane button
{
    float: right;
}

#tabs ul li.sorting ul
{
    display: block;
    overflow: visible;
    position: absolute;
    z-index: 99;
}

#tabs ul li.sorting.ignore
{
    opacity: 0.5;
}

.tabsTooltip
{
    margin-top: -20px;
}

.sidebarTooltip
{
    margin-left: -60px;
}

.dropzone
{
    border: 1px solid red;
}
