#menu { background-color: #FFAA60; }
#sidebar, #mainBg { background-color: #FFEEA0; }
#mainContent { background-color: #BBDDFF; }

/* ------ Structure ------*/
html, body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1, h2
{
    margin:0px;
}

a
{
    color: #0000FF;
    text-decoration: none;
}

#header
{
    border-bottom: 1px solid #000000;
    padding: 15px 0px;
    padding-left: 50px;
}

#content
{
    margin-left: 50px;
    margin-right: 50px;
}

#main, #mainBg
{
    clear: both;
    overflow: hidden;
}

#mainContent
{
    margin-left: 200px;
    padding: 15px;
}

/* ------ Tabs ------ */
#tabs ul
{
    list-style: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#tabs ul li
{
    display: block;
    float: left;
    margin-right: 1px;
    margin: 7px 0px;
    white-space: nowrap;
    width: 8em;
}

#tabs ul li a
{
    background-color: #C6FF80;
    display: block;
    padding: 7px 0px;
    text-align: center;
    width: 8em;
    height: 23px;
}

#tabs ul > li:hover, #tabs ul li a:hover
{
    background-color: #FFDD83;
}

/* ------ Submenu ------ */
/*
    Internet Explorer 6 does not allow the :hover
    pseudo-element class on anything other than a,
    therefore pure CSS menus are impossible.
*/

#tabs ul:hover
{
}

#tabs ul li ul
{
    display: none;
}

#tabs ul li ul li
{
    float: none;
    font-size: 0.9em;
    padding: 0px;
    margin: 0px;
}

#tabs ul li ul li a
{
    display: block;
    height: 20px;
    *margin-bottom: -1px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
    width: 9em;
}

#tabs ul li:hover ul
{
    display: block;
    overflow: visible;
    position: absolute;
    z-index: 99;
}

#tabs ul li:hover ul li:hover a
{
    background-color: #FFDD83;
}

/* ------ Sub-submenu ------ */
#tabes ul li ul li ul li
{
    font-size: 1em;
}

#tabs ul li:hover ul li ul
{
    display: none;
}

#tabs ul li:hover ul li:hover > ul
{
    display: block;
    position: absolute;
    left: 10em;
    *margin-left: -1px;
    margin-top: -34px;
    *margin-top: 0px;
}

#tabs ul li:hover ul li:hover ul a
{
    background-color: #FFD864;
}

#tabs ul li:hover ul li:hover ul a:hover
{
    background-color: #FF9e50;
}

#tabs ul li.sorting ul li ul
{
    display: none;
}

#tabs ul li.sorting ul li.sorting ul
{
    display: block;
    position: absolute;
    left: 9em;
    *margin-left: -1px;
    margin-top: -34px;
    *margin-top: 0px;
}

/* ------ Sidebar ------ */
#sidebar
{
    clear: left;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    width: 185px;
    _width: 200px;
}

#sidebar ul ul
{
    display: none;
}

/* ------ Footer ------- */
#footer
{
    clear: both;
    margin-top: 7px;
}

#footer ul
{
    list-style: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#footer ul li
{
    display: inline;
}

#footer ul li a
{
    background-color: #EEEEEE;
    float: left;
    margin-right: 1px;
    padding: 7px 15px;
}

#footer ul li a:hover
{
    background-color: #CCCCCC;
}

/* ------ Messages ------ */
.errors, .successes
{
    background-position: 10px; center;
    background-repeat: no-repeat;
    display: none;
    font-family: verdana, 'DejaVu Sans', sans-serif;
    font-size: 0.8em;
    margin: 0.5em 0em;
    padding: 0.5em;
    padding-left: 35px;
}

.errors .errorLine
{
    font-weight: bold;
}

.errors, .fieldError
{
    background-color: #A00000;
    border: 1px solid #FF0000;
    color: #FFCCCC;
}

.errors
{
    background-image: url('img/errorbg.gif');
}

.successes
{
    background-color: #005000;
    background-image: url('img/successbg.gif');
    border: 1px solid #00FF00;
    color: #CCFFCC;
}

.fieldError
{
    margin-left: 1em;
    padding: 0em 0.5em;
}

.errors pre
{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.errors li
{
    margin-top: 5px;
}

.required
{
    color: #FF0000;
    font-size: 0.8em;
    margin-left: -0.8em;
    position: absolute;
}

.triggeredError
{
    font-family: monospace;
}

/* ------ Loading ------ */
.loading
{
    background-image: url('img/loading.gif');
    background-position: center 10em;
    background-repeat: no-repeat;
}

code
{
    white-space: pre;
}

.errorLine
{
    font-weight: bold;
}

#newTab
{
    display: none;
}

#tabTooltip
{
    display: none;
    z-index: 100;
}
