Options -Indexes

RewriteEngine on
RewriteRule ^[\#!]?/?([0-9]+)/.*$ index.php?pageId=$1
RewriteCond %{QUERY_STRING} ^_escaped_fragment_=/?(.*)$
RewriteRule ^$ %1

ErrorDocument 404 /LazyStructure/errors/404.php
